@use '/src/utils/'as *;

@mixin buttonStyle {
  // border: 1px solid rgba(156, 156, 156, 0.288);
  // height: 100px;
}

.container {
  @include setColors(get-color(li1), get-color(da1));

  display: grid;
  grid-template-columns: 1fr;

  h2 {
    align-self: start;
    font-size: 4rem;
    margin: auto;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 1000px;
  margin: auto;
  background-color: #f4f4f4;
  border-right: #566c86 solid 20px;
  border-bottom: #566c86 solid 20px;
  border-radius: 4px;
  grid-template-areas:
    'dis dis dis dis'
    'spe spe spe ope'
    'num num num ope'
    'num num num ope'
    'num num num ope'
    'dot zero zero ope';

  button {
    @include buttonStyle;
    @include setColors(#f4f4f4, #94b0c2);

    &:active {
      border-top: #94b0c2 solid 5px;
      border-left: #94b0c2 solid 5px;

      @include setColors(#94b0c2 , #566c86);
    }
  }

  .special {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    direction: rtl;
    grid-area: spe;
  }

  .numbers {
    display: grid;
    direction: rtl;
    list-style: none;
    grid-area: num;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'dot zero zero ';
  }

  .operator {
    display: grid;
    grid-area: ope;
    margin: 0 50px;

    button {
      @include buttonStyle;
      @include setColors(#f4f4f4, #ef7d57);

      border-bottom: #b13e53 solid 10px;
      border-right: #b13e53 solid 10px;

      &:active {
        @include setColors(#ef7d57, #b13e53);

        border-top: #ef7d57 solid 5px;
        border-left: #ef7d57 solid 5px;
      }
    }
  }
}
