@use '/src/utils/' as *;

.navBar {
  @include setColors(get-color(li2), get-color(da2));

  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  height: 10rem;
  align-items: center;

  h1 {
    font-size: 4rem;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    justify-content: center;
    align-items: center;

    li {
      padding-right: 1rem;
      border-right: solid black 1px;
      font-size: 2rem;
      text-align: center;

      a:link {
        $color: get-color(da3);

        color: $color;
      }

      a:visited {
        $color: get-color(li3);

        color: $color;
      }

      a:hover {
        $color: get-color(li2);

        color: $color;
      }
    }
  }
}
