@use '/src/utils/' as *;

div {
  .container {
    @include setColors(white, grey);

    display: grid;
    grid-area: dis;
    justify-content: end;
    align-items: center;
    height: 50px;
    font-size: 2em;
    max-width: 300px;
  }
}
