@use '/src/utils/' as *;

div {
  .container {
    @include setColors(#a7f070, #566c86);

    font-family: $main-font;
    display: grid;
    grid-area: dis;
    justify-content: end;
    align-items: center;
    height: 100px;
    font-size: 2rem;
    padding: 0 1rem;
    max-width: 1000px;
  }
}
